{% extends 'admin.html.twig' %}

{% block title %}Nouvelle promotion{% endblock %}

{% block body %}
<div class="row">
  <div class="col-md-12">
    <div class="card card-info">
      <div class="card-header">
          <div class="card-title">Nouvelle année, nouvelle promotion !</div>
      </div>
      <div class="card-body p-0">
          {{ include('promotion/_form.html.twig') }}
      </div>
    </div>
  </div>
</div>
{% endblock %}
