{% extends 'admin.html.twig' %}

{% block title %}Créer un nouveau projet{% endblock %}

{% block body %}
<div class="row">
  <div class="col-md-12">
    <div class="card card-outline card-primary">
      <div class="card-header">
        <div class="card-title">Créer un nouveau projet</div>
        <div class="card-tools"> </div>
      </div>
      <div class="card-body p-0">
        {{ include('project/_form.html.twig') }}
      </div>
    </div>
  </div>
</div>
{% endblock %}
